<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD
3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/scrabble
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            root
        </property>
        <property name="connection.password">
            Ch@1Sukk6969!!
        </property>
        <!-- Set AutoCommit to true -->
        <property name="connection.autocommit">
            true
        </property>
        <!-- SQL Dialect to use. Dialects are database specific -->
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.allow_update_outside_transaction">true</property>
        <!-- Mapping files -->
        <mapping resource="State.hbm.xml" />
    </session-factory>
</hibernate-configuration>

